:root {
  --grid-gutter: 25px;
  --layout-width: 990px;
  --page-background: #ffffff;
  --text-color: #1c2445;
  --text-font-size: 24px;
  --small-text-font-size: 19px;
  --accent-color: #0074e0;
  --accent-hover-color: #0074e0aa;
  --light-background: #f1f1f4;
  --infobox-background: #0fdd42;
  --infobox-color: #1c2445;
  --6-cols: 100%;
  --4-cols: calc(4 * 100% / 6);
  --2-cols: calc(2 * 100% / 6);
  --1-col: calc(1 * 100% / 6);

  /* app colors */
  --evcc-green: #baffcb;
  --evcc-dark-green: #0fde41;
  --evcc-darker-green: #0ba631;
  --evcc-darkest-green: #076f20;
  --evcc-yellow: #faf000;
  --evcc-dark-yellow: #bbb400;
  --evcc-gray: #93949e;

  --evcc-accent1: var(--evcc-dark-yellow);
  --evcc-accent2: var(--evcc-darker-green);
  --evcc-accent3: var(--evcc-darkest-green);
}

@media (max-width: 499px) {
  :root {
    --text-font-size: 18px;
    --4-cols: 100%;
  }
}

:root.dark {
  --page-background: #00002d;
  --header-background: #00002d;
  --light-background: rgba(241, 241, 244, 0.1);
  --text-color: #f1f1f4;
  --accent-color: #0fdd42;
  --evcc-gray: #b5b6c3;
  --evcc-accent1: var(--evcc-yellow);
  --evcc-accent2: var(--evcc-dark-green);
  --evcc-accent3: var(--evcc-darker-green);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  font-family: Roboto, sans-serif;
  font-size: var(--text-font-size);
}

body {
  color: var(--text-color);
  padding: 0 0 4rem;
  margin: 0;
  background-color: var(--page-background);
}

em {
  font-style: normal;
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

.header__top {
  background: linear-gradient(#fff, #f3ffff);
}

.header__inner {
  margin: 0 auto;
  height: 80px;
  max-width: var(--layout-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #1c2445;
}

.header__logo__letters {
  fill: #1c2445;
}

.header__logo svg {
  height: 64px;
}

.header__logo span {
  font-size: 18px;
  white-space: nowrap;
}

.header__button {
  padding-top: 8px;
  margin-right: var(--grid-gutter);
}

.header__navigation {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: hidden;
  flex-wrap: wrap;
}

.header__navigation__item {
  color: #1c2445;
  font-size: 18px;
  padding: 2px 8px;
  overflow: hidden;
}

.header__navigation__item .icon {
  width: 24px;
  height: 24px;
  display: block;
}

.header__navigation__lang {
  color: #1c2445;
}

.header__navigation__lang--active {
  color: #1c2445;
  text-decoration: underline;
}

.header__navigation__item--translation {
  margin-right: 8px;
}

@media (max-width: 699px) {
  .header__logo span,
  .hide-sm {
    display: none;
  }
  .header__navigation__item--translation {
    display: block;
    margin-right: 0px;
  }
}
@media (min-width: 700px) {
  .hide-lg {
    display: none;
  }
}

.header__hero__wrapper {
  background: #ffffff;
}

.header__hero {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 1400px;
}

.content .button-container {
  text-align: center;
}

.content .button {
  display: inline-block;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 1em;
  padding: 0.75em 2em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2em;
  transition: background-color 0.2s ease-in;
}

.content .button:hover {
  text-decoration: underline;
}

.content {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.content p {
  margin: 1.5em auto;
  padding: 0 var(--grid-gutter);
  width: var(--4-cols);
  line-height: 1.5em;
}

.content img {
  width: 100%;
  display: block;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content li {
  position: relative;
  line-height: 1.5em;
  padding: 0.9em calc(var(--1-col) + var(--grid-gutter));
}

.content li:nth-child(odd) {
  background-color: var(--light-background);
}

.content li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--1-col);
  border-left: var(--grid-gutter) solid var(--page-background);
  background-image: url("../img/lightning.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center 0.85em;
}

.content li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: var(--grid-gutter) solid var(--page-background);
}

.infobox {
  margin: 40px auto;
  padding: 40px 16px;
  width: calc(var(--6-cols) - var(--grid-gutter) * 2);
  background-color: var(--infobox-background);
  color: var(--infobox-color);
  border-radius: 30px 30px 30px 30px;
}

@media (max-width: 499px) {
  .infobox {
    width: 90%;
  }
}

.infobox h2,
.infobox h3 {
  padding: 0;
  margin-top: 0;
}

.infobox h2 {
  max-width: 500px;
}

.infobox_entry {
  padding: 8px;
  text-align: center;
  font-size: var(--small-text-font-size);
  line-height: 1.5em;
}

@media (min-width: 750px) {
  .infobox_entry {
    padding: 32px;
  }
}

.infobox_inner {
  display: block;
}

@media (min-width: 750px) {
  .infobox_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.infobox_entry img {
  height: 140px;
  width: 140px;
  margin: 0 auto;
}

.infobox_entry p.products {
  width: var(--6-cols);
}

hr {
  border: none;
  margin: 3rem 0;
}

.fineprint {
  font-size: var(--small-text-font-size);
  color: var(--evcc-gray);
}

.fineprint a {
  color: var(--evcc-gray);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  padding: 0 var(--grid-gutter);
  margin: 2em auto 1em;
  width: var(--5-cols);
}

h1 {
  font-size: 2.33rem;
}

h2 {
  font-size: 1.66rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

p + h3 {
  margin-top: 3em;
}

.footer {
  text-align: center;
}

.footer a,
.footer span {
  display: block;
  padding: 0.5em;
}
footer .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3rem;
  margin-bottom: 0.2em;
  width: 1em;
  height: 1em;
}
.screenshots {
  height: 550px;
}
.screenshots_container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.screenshots_inner {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
}
.screenshot {
  margin-left: 1rem;
  display: block;
}
.screenshot {
  position: relative;
}
.screenshot_link--dark {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 500ms linear;
  pointer-events: none;
}
:root.dark .screenshot_link--dark {
  opacity: 1;
  pointer-events: auto;
}
.screenshot img {
  width: auto;
  height: 500px;
}
.goverlay {
  background: rgba(255, 255, 255, 0.95) !important;
}
.glightbox-clean .gslide-media {
  box-shadow: none !important;
}
.image--full {
  max-width: 100%;
  width: auto;
  height: auto;
}
@media (min-width: 750px) {
  img.image--full {
    width: calc(var(--6-cols) - var(--grid-gutter) * 2);
    border-radius: 30px;
    margin: 40px auto;
  }
}

.sponsors {
  margin-bottom: 2em;
}
.sponsor-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}
@media (min-width: 750px) {
  .sponsor-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    margin: 0 auto 1.5em;
    max-width: 700px;
  }
}
.sponsor-logos a {
  display: block;
  margin: 1em;
  justify-self: center;
  align-self: center;
}
.sponsor-logos img {
  max-width: 300px;
  max-height: 75px;
  width: auto;
  height: auto;
  display: block;
}
.team {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member {
  text-align: center;
  color: inherit;
  text-decoration: none;
  width: 100px;
  margin-bottom: 2rem;
  font-size: var(--small-text-font-size);
}
.team-member img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.team-member-name {
  margin: 1rem 0;
}
.team-member-name small {
  display: block;
  margin: 0.25em 0;
}
.github-sponsors {
  text-align: center;
}
.github-sponsors object {
  width: 100%;
  max-width: 800px;
}

.telemetry_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.telemetry_box {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  margin: var(--grid-gutter);
}

.telemetry_box:nth-child(1) {
  color: var(--evcc-accent2);
}

.telemetry_box:nth-child(2) {
  color: var(--evcc-accent1);
}

.telemetry_box:nth-child(3) {
  color: var(--evcc-accent3);
}

.telemetry_icon {
  margin-right: 1em;
  width: 4rem !important;
  flex-shrink: 0;
}

.telemetry_title {
  font-size: var(--small-text-font-size);
  font-weight: bold;
}

.telemetry_value {
  display: block;
  font-weight: bold;
  font-size: 2em;
  margin: 0.1em 0;
}

.telemetry_unit {
  font-size: var(--small-text-font-size);
}

.telemetry_sub {
  font-size: var(--small-text-font-size);
  color: var(--evcc-gray);
}

.telemetry .fineprint {
  text-align: center;
}

:root.dark [data-theme="dark"] {
  text-decoration: underline;
}

:root:not(.dark) [data-theme="light"] {
  text-decoration: underline;
}

.split {
  margin: 40px auto;
  padding: 0;
  width: calc(var(--6-cols) - var(--grid-gutter) * 2);
  display: flex;
  align-items: center;
}

.split-entry {
  flex: 1;
  flex-basis: 100%;
  padding: 0 var(--grid-gutter);
}

.split-entry.split-entry--text > * {
  width: auto;
  padding: 0;
}

.split-entry.split-entry--image > * {
  border-radius: 30px;
}

@media (max-width: 699px) {
  .split {
    display: block;
    width: auto;
  }

  .split-entry {
    padding: 0;
  }

  .split-entry.split-entry--image > * {
    border-radius: 0;
  }

  .split-entry.split-entry--text > * {
    padding: 0 var(--grid-gutter);
    width: var(--4-cols);
  }
}

.only-light {
  display: block;
}

.only-dark {
  display: none;
}

:root.dark .only-light,
:root:not(.dark) .only-dark {
  display: none;
}
