<footer class="footer">
  <span>© {{ dateFormat "2006" now }} {{ i18n "evcc" }}</span>
  <a href="{{ .Site.Params.BlogUrl }}">{{ i18n "blog" }}</a>
  <a href="https://github.com/evcc-io/evcc">
    {{ partial "icons/github.html" . }} {{ i18n "github" }}
  </a>
  <a href="https://supergeek.de/{{ lower .Language.LanguageName }}/evcc/">
    {{ partial "icons/t-shirt.html" . }} {{ i18n "shirts" }}
  </a>
  <a rel="me" href="https://fosstodon.org/@evcc">
    {{ partial "icons/mastodon.html" . }} {{ i18n "mastodon" }}
  </a>
  <a href="https://www.instagram.com/evcc.io/">
    {{ partial "icons/instagram.html" . }} {{ i18n "instagram" }}
  </a>
  <a href="https://www.threads.net/@evcc.io">
    {{ partial "icons/threads.html" . }} {{ i18n "threads" }}
  </a>
  <a href="https://bsky.app/profile/evcc.io">
    {{ partial "icons/bluesky.html" . }} {{ i18n "bluesky" }}
  </a>
  <a href="/slack">
    {{ partial "icons/slack.html" . }} {{ i18n "slack" }}
  </a>
  <a href="{{ .Site.Params.DocsUrl }}">{{ i18n "dokumentation" }}</a>
  <a href="/impressum/">{{ i18n "impressum" }}</a>
  <a href="/datenschutz/">{{ i18n "datenschutz" }}</a>
</footer>