<footer class="footer">
  <span>© {{ dateFormat "2006" now }} {{ i18n "evcc" }}</span>
  <a href="https://docs.evcc.io/blog">{{ i18n "blog" }}</a>
  <a href="https://github.com/evcc-io/evcc">
    <shopicon-regular-github class="icon"></shopicon-regular-github>{{ i18n "github" }}
  </a>
  <a href="https://supergeek.de/{{ lower .Language.LanguageName }}/evcc/">
    <shopicon-regular-tshirt class="icon"></shopicon-regular-tshirt>{{ i18n "shirts" }}
  </a>
  <a href="https://twitter.com/evcc_io">
    <shopicon-regular-twitter class="icon"></shopicon-regular-twitter>{{ i18n "twitter" }}
  </a>
  <a rel="me" href="https://fosstodon.org/@evcc">
    <shopicon-regular-chat2 class="icon"></shopicon-regular-chat2>{{ i18n "mastodon" }}
  </a>
  <a href="https://www.instagram.com/evcc.io/">
    <shopicon-regular-instagram class="icon"></shopicon-regular-instagram>{{ i18n "instagram" }}
  </a>
  <a href="/slack">
    <shopicon-regular-chat class="icon"></shopicon-regular-chat>{{ i18n "slack" }}
  </a>
  <a href="https://docs.evcc.io">{{ i18n "dokumentation" }}</a>
  <a href="/impressum/">{{ i18n "impressum" }}</a>
  <a href="/datenschutz/">{{ i18n "datenschutz" }}</a>
</footer>