<footer class="footer">
  <span>© {{ dateFormat "2006" now }} evcc</span>
  <a href="https://docs.evcc.io/blog">Blog</a>
  <a href="https://github.com/evcc-io/evcc"><shopicon-regular-github class="icon"></shopicon-regular-github>GitHub</a>
  <a href="https://twitter.com/evcc_io"><shopicon-regular-twitter class="icon"></shopicon-regular-twitter>Twitter</a>
  <a href="https://www.instagram.com/evcc.io/"><shopicon-regular-instagram class="icon"></shopicon-regular-instagram>Instagram</a>
  <a href="/slack"><shopicon-regular-chat class="icon"></shopicon-regular-chat>Entwickler Slack</a>
  <a href="https://docs.evcc.io">Dokumentation</a>
  <a href="/impressum/">Impressum</a>
  <a href="/datenschutz/">Datenschutz</a>
</footer>
