<aside class="telemetry" id="live">
  <h2>Livedaten aus der Community</h2>
  <div class="telemetry_inner">
    <div class="telemetry_box">
      <shopicon-regular-car3 class="telemetry_icon" size="xl"></shopicon-regular-car3>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            Ladeleistung
          </div>
          <div class="telemetry_value">
            <span id="telemetry--power"></span>
            <span class="telemetry_unit">kW</span>
          </div>

        </div>
        <div class="telemetry_sub"><span id="telemetry--activeClients"></span> aktive Nutzer</div>
      </div>
    </div>
    <div class="telemetry_box">
      <shopicon-regular-sun class="telemetry_icon" size="xl"></shopicon-regular-sun>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            Sonnenanteil
          </div>
          <div class="telemetry_value">
            <span id="telemetry--greenPower"></span>
            <span class="telemetry_unit">%</span>
          </div>
        </div>
        <div class="telemetry_sub">PV & Hausakku</div>
      </div>
    </div>
    <div class="telemetry_box">
      <shopicon-regular-eco1 class="telemetry_icon" size="xl"></shopicon-regular-eco1>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            Sonnenenergie
          </div>
          <div class="telemetry_value">
            <span id="telemetry--greenEnergy"></span>
            <span class="telemetry_unit">MWh</span>
          </div>
        </div>
        <div class="telemetry_sub">
          seit Oktober 2022
        </div>
      </div>
    </div>
  </div>
  <p class="fineprint">
    Zusammengefasste Ladedaten von
    <span id="telemetry--totalClients"></span>
    teilnehmenden Sponsoren.<br>
    <a href="https://docs.evcc.io/docs/reference/configuration/telemetry">Hier</a> erfährst
    du, wie du mit dabei sein kannst.
  </p>
</aside>