<aside class="telemetry" id="live">
  <div class="telemetry_inner">
    <div class="telemetry_box">
      <span class="telemetry_icon">{{ partial "icons/car3.html" . }}</span>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            {{ i18n "ladeleistung" }}
          </div>
          <div class="telemetry_value">
            <span id="telemetry--power"></span>
            <span id="telemetry--chargePowerUnit" class="telemetry_unit"></span>
          </div>
        </div>
        <div class="telemetry_sub">
          <span id="telemetry--activeClients"></span> {{ i18n "aktive_nutzer" }}
        </div>
      </div>
    </div>
    <div class="telemetry_box">
      <span class="telemetry_icon">{{ partial "icons/shopicon-sun.html" . }}</span>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            {{ i18n "sonnenanteil" }}
          </div>
          <div class="telemetry_value">
            <span id="telemetry--greenShare"></span>
            <span class="telemetry_unit">%</span>
          </div>
        </div>
        <div class="telemetry_sub">{{ i18n "pv_hausakku" }}</div>
      </div>
    </div>
  </div>
  <p class="fineprint">
    Aggregated charging data from
    <span id="telemetry--totalClients"></span> participating sponsors.
  </p>
</aside>
