<aside class="telemetry" id="live">
  <h2>{{ i18n "livedaten_aus_der_community" }}</h2>
  <div class="telemetry_inner">
    <div class="telemetry_box">
      <shopicon-regular-car3
        class="telemetry_icon"
        size="xl"
      ></shopicon-regular-car3>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            {{ i18n "ladeleistung" }}
          </div>
          <div class="telemetry_value">
            <span id="telemetry--power"></span>
            <span id="telemetry--chargePowerUnit" class="telemetry_unit"></span>
          </div>
        </div>
        <div class="telemetry_sub">
          <span id="telemetry--activeClients"></span> {{ i18n "aktive_nutzer" }}
        </div>
      </div>
    </div>
    <div class="telemetry_box">
      <shopicon-regular-sun
        class="telemetry_icon"
        size="xl"
      ></shopicon-regular-sun>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            {{ i18n "sonnenanteil" }}
          </div>
          <div class="telemetry_value">
            <span id="telemetry--greenShare"></span>
            <span class="telemetry_unit">%</span>
          </div>
        </div>
        <div class="telemetry_sub">{{ i18n "pv_hausakku" }}</div>
      </div>
    </div>
    <div class="telemetry_box">
      <shopicon-regular-eco1
        class="telemetry_icon"
        size="xl"
      ></shopicon-regular-eco1>
      <div class="telemetry_details">
        <div class="telemetry_main">
          <div class="telemetry_title">
            {{ i18n "sonnenenergie" }}
          </div>
          <div class="telemetry_value">
            <span id="telemetry--greenEnergy"></span>
            <span id="telemetry--greenEnergyUnit" class="telemetry_unit"></span>
          </div>
        </div>
        <div class="telemetry_sub">
          {{ i18n "seit_date" (time.Format "January 2006" "2022-10-01") }}
        </div>
      </div>
    </div>
  </div>
  <p class="fineprint">
    <span id="telemetry--totalClients"></span> participating sponsors
    contributed to this summarized data.
    <br />
    Find out how you can contribute
    <a href="https://docs.evcc.io/docs/reference/configuration/telemetry"
      >{{ lower (i18n "hier") }}</a
    >!
  </p>
</aside>
