{{- $src := .Get "src" -}}
{{- $width := .Get "width" -}}
<div class="screenshot">
  <a href="img/screenshots/{{$src}}_light.png" class="screenshot_link screenshot_link--light" data-glightbox
    data-gallery="light">
    <img src="img/screenshots-small/{{$src}}_light.png" height="1000" width="{{$width}}" alt="{{$src}}"
      loading="lazy" />
  </a>
  <a href="img/screenshots/{{$src}}_dark.png" class="screenshot_link screenshot_link--dark" data-glightbox
    data-gallery="dark">
    <img src="img/screenshots-small/{{$src}}_dark.png" height="1000" width="{{$width}}" alt="{{$src}}" loading="lazy" />
  </a>
</div>