<div class="sponsors">
    <div class="sponsor-logos">
        <a href="https://cocharge.de/evcc" title="cocharge" target="blank">
            <img src="/img/sponsors/cocharge-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 3.846" />
            <img src="/img/sponsors/cocharge-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 3.846" />
        </a>
        <a href="https://www.cubos.com" title="CUBOS" target="blank" style="padding: 0 0.3rem">
            <img src="/img/sponsors/cubos-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 4.312" />
            <img src="/img/sponsors/cubos-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 4.312" />
        </a>
        <a href="https://www.daheimladen.de/" title="DaheimLaden Wallboxen" target="blank">
            <img src="/img/sponsors/daheimladen-light.webp" class="only-light" loading="lazy"
                style="aspect-ratio: 5.707" />
            <img src="/img/sponsors/daheimladen-dark.webp" class="only-dark" loading="lazy"
                style="aspect-ratio: 5.707" />
        </a>
        <a href="https://www.em2go.de/" title="EM2GO" target="blank">
            <img src="/img/sponsors/em2go-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 4.5" />
            <img src="/img/sponsors/em2go-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 4.5" />
        </a>
        <a href="https://www.lekker.de" title="lekker Energie" target="blank" style="padding: 0 0.75rem">
            <img src="/img/sponsors/lekker-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 2.524" />
            <img src="/img/sponsors/lekker-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 2.524" />
        </a>
        <a href="http://www.mossler-ventures.com/" title="Mossler Venture" target="blank" style="padding: 0 0.3rem">
            <img src="/img/sponsors/mossler-venture-light.svg" class="only-light" loading="lazy"
                style="aspect-ratio: 4.265" />
            <img src="/img/sponsors/mossler-venture-dark.svg" class="only-dark" loading="lazy"
                style="aspect-ratio: 4.265" />
        </a>
        <a href="https://www.pantabox.de/" title="Pantabox" target="blank" style="padding: 0 0.3rem">
            <img src="/img/sponsors/pantabox-light.webp" class="only-light" loading="lazy"
                style="aspect-ratio: 7.692" />
            <img src="/img/sponsors/pantabox-dark.webp" class="only-dark" loading="lazy" style="aspect-ratio: 7.692" />
        </a>
        <a href="https://sourceful.energy/" target="blank" style="padding: 0 0.3rem">
            <img src="/img/sponsors/sourceful-light.svg" class="only-light" loading="lazy"
                style="aspect-ratio: 3.388" />
            <img src="/img/sponsors/sourceful-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 3.388" />
        </a>
        <a href="https://www.victronenergy.de/" title="Victron Energy" target="blank">
            <img src="/img/sponsors/victron-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 5.22" />
            <img src="/img/sponsors/victron-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 5.22" />
        </a>
        <a href="https://www.tinkerforge.com/" title="Warp by Tinkerforge" target="blank">
            <img src="/img/sponsors/warp-by-tinkerforge.webp" loading="lazy" style="aspect-ratio: 4.055" />
        </a>
        <a href="https://www.h2d2.de/" target="blank" style="padding: 0 3rem">
            <img src="/img/sponsors/h2d2-light.svg" class="only-light" loading="lazy" style="aspect-ratio: 1" />
            <img src="/img/sponsors/h2d2-dark.svg" class="only-dark" loading="lazy" style="aspect-ratio: 1" />
        </a>
    </div>
    <div class="github-sponsors">
        <h4>GitHub Community</h4>
        <object data="/img/github/evcc-io/sponsors.svg" type="image/svg+xml" loading="lazy"></object>
        <object data="/img/github/andig/sponsors.svg" type="image/svg+xml" loading="lazy"></object>
    </div>
</div>