<div class="sponsors">
    <div class="sponsor-logos">
        <a href="https://www.daheimladen.de/" title="DaheimLaden Wallboxen" target="blank">
            <img src="/img/sponsors/daheimladen.png" width="600" height="60" loading="lazy" />
        </a>
        <a href="https://dadapower.de/" title="DaDaPower" target="blank">
            <img src="/img/sponsors/dadapower-light.svg" class="only-light" width="1850" height="350" loading="lazy"
                style="height: 45px" />
            <img src="/img/sponsors/dadapower-dark.svg" class="only-dark" width="1850" height="350" loading="lazy"
                style="height: 45px" />
        </a>
        <a href="https://www.tinkerforge.com/" title="Warp by Tinkerforge" target="blank">
            <img src="/img/sponsors/warp-by-tinkerforge.png" width="200" loading="lazy" />
        </a>
        <a href="https://www.em2go.de/" title="EM2GO" target="blank">
            <img src="/img/sponsors/em2go-light.svg" class="only-light" width="180" height="40" loading="lazy"
                style="height: 50px" />
            <img src="/img/sponsors/em2go-dark.svg" class="only-dark" width="180" height="40" loading="lazy"
                style="height: 50px" />
        </a>
        <a href="https://www.pantabox.de/" title="Pantabox" target="blank">
            <img src="/img/sponsors/pantabox.svg" width="1249" height="391" loading="lazy" style="height: 70px" />
        </a>
        <a href="https://www.victronenergy.de/" title="Victron Energy" target="blank">
            <img src="/img/sponsors/victron-light.svg" class="only-light" width="261" height="50" loading="lazy"
                style="height: 70px" />
            <img src="/img/sponsors/victron-dark.svg" class="only-dark" width="261" height="50" loading="lazy"
                style="height: 70px" />
        </a>
        <a href="https://www.h2d2.de/" target="blank">
            <img src="/img/sponsors/h2d2.svg" title="H2D2 - UX und UI Agentur aus Berlin" width="70" height="70"
                loading="lazy" />
        </a>
    </div>
    <div class="github-sponsors">
        <h4>GitHub Community</h4>
        <object data="/img/github/evcc-io/sponsors.svg" type="image/svg+xml" loading="lazy"></object>
        <object data="/img/github/andig/sponsors.svg" type="image/svg+xml" loading="lazy"></object>
    </div>
</div>