<div class="sponsors">
  <div class="sponsor-logos">
    <a href="https://www.h2d2.de/" target="blank"><img src="./img/sponsors/h2d2.svg" title="H2D2 - UX und UI Agentur aus Berlin" width="70" height="70" loading="lazy"></a>
    <a href="https://www.daheimladen.de/" target="blank"><img src="./img/sponsors/daheimladen.png" title="DaheimLaden Wallboxen" width="600" height="60" loading="lazy"></a>
    <a href="https://www.tinkerforge.com/" target="blank"><img src="./img/sponsors/warp-by-tinkerforge.png" title="Warp by Tinkerforge" width="200" loading="lazy"></a>
  </div>
  <div class="github-sponsors">
    <!-- sponsors --><!-- sponsors -->
  </div>
</div>