<div class="team">
    <a class="team-member" href="https://github.com/andig" title="naltatis" target="blank">
        <img src="https://avatars.githubusercontent.com/u/184815?v=4" width="300" height="300" loading="lazy" />
        <div class="team-member-name">
            Andi<small>andig</small>
        </div class="team-member-name">
    </a>
    <a class="team-member" href="https://github.com/premultiply" title="naltatis" target="blank">
        <img src="https://avatars.githubusercontent.com/u/4681172?v=4" width="300" height="300" loading="lazy" />
        <div class="team-member-name">
            Uli<small>premultiply</small>
        </div class="team-member-name">
    </a>
    <a class="team-member" href="https://github.com/naltatis" title="naltatis" target="blank">
        <img src="https://avatars.githubusercontent.com/u/152287?v=4" width="300" height="300" loading="lazy" />
        <div class="team-member-name">
            Michael<small>naltatis</small>
        </div class="team-member-name">
    </a>
</div>