name: Sponsorkit

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches: [master]

jobs:
  update-sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - run: npm ci

      - name: Update sponsors
        run: npm run sponsorkit
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.GH_API_TOKEN }}
          SPONSORKIT_GITHUB_LOGIN: andig

      - name: Commit
        uses: EndBug/add-and-commit@v4
        with:
          message: "chore: update sponsors.svg"
          add: "static/img/github/.*/sponsors.*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
